body {
    background: white;
    margin: 0;
    overflow: hidden;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 550px;
    height: 500px;
    margin: 0 auto;

}
.dot {
    position: absolute;
    background: black;
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none;
    transition: background 0.3s ease-out;
}